@font-face {
  font-family: Product;
  src: url("Product Sans Regular.ttf");
}
@font-face {
  font-family: Product Bold;
  src: url("Product Sans Bold.ttf");
}

* {
  font-family: Product;
}
h1{
  font-family: Product Bold;
}

a:link{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

.btn-add{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 100px;
  height: 100px;
  z-index: 999;
  color: white !important;
}

.btn-add:hover{
  color: white !important;
}

.btn-add>p{
  position: relative;
  top: -25%;
  font-family: Product Bold;
  font-size: 80px;
}

.contact-image{
  border-radius: 100%;
  background-color: #06b8b2;
  color : white;
  width: 120px;
  height: 120px;
  text-align: center;
  position: relative;
  top: 25%;
}

.contact-image>a>p{
  position: relative;
  top: 25%;
  color : white;
}
.card-title{
  font-family: Product Bold;
}
.contact-image-text{
  font-family: Product Bold;
  font-size: 40px;
}
.contact-info button{
  font-size: 12px;
}
html body a{
  text-decoration: none !important;
  color: black !important;
}
html body a:hover{
  text-decoration: none !important;
  color: black !important;
}
a:link{
  color:black;
}
.contact-group{
  border-radius: 2rem!important;
}