<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add employee</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body class="bg-light container-fluid m-auto px-0">
    <nav class="bg-white navbar d-flex px-5 justify-content-start">
        <h1 class="h1 mx-3"> <a href="/"> Home </a> </h1>
        <p class="h1"> | </p>
        <h1 class="h1 mx-3"> <a href="/home-employee">  Employee manager </a> </h1>
    </nav>
    <h3 class="mt-5 text-center"> Add a new employee </h3>
    <form action=" {{ url_for('add') }} " method="post" class="d-flex flex-column m-auto" style="width: 40%;">
        <label for="name" class="form-label">Name:</label>
        <input required class="form-control" type="text" id="name" name="name"><br>
        <label class="form-label" for="surname">Surname:</label>
        <input  class="form-control" type="text" id="surname" name="surname"><br>
        <label class="form-label" for="email">Mail:</label>
        <input class="form-control" type="email" id="email" name="email"><br>
        <label class="form-label" for="phone_number">Phone number:</label>
        <input class="form-control" type="text" id="phone_number" name="phone_number"><br>
        <label class="form-label" for="address">Address:</label>
        <input class="form-control" type="text" id="address" name="address" required autocomplete="off"><br>
        <label class="form-label" for="group_id">Employee group:</label>
        <select name="group_id" id="group_id" class="form-select mb-3">
            {% for contact_group in contact_groups %}
                <option value=" {{ contact_group.group_id }} ">{{ contact_group.group_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit" class="btn btn-light btn-outline-info">
    </form>
</body>
<script>
    let autocomplete;
    let address1Field;
    let address2Field;
    let postalField;

    function initAutocomplete() {
      address1Field = document.querySelector("#address");
      address2Field = document.querySelector("#address2");
      postalField = document.querySelector("#postcode");
      // Create the autocomplete object, restricting the search predictions to
      // addresses in the US and Canada.
      autocomplete = new google.maps.places.Autocomplete(address1Field, {
        componentRestrictions: { country: ["lv"] },
        fields: ["address_components", "geometry"],
        types: ["address"],
      });
      address1Field.focus();
      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      const place = autocomplete.getPlace();
      let address1 = "";
      let postcode = "";

      // Get each component of the address from the place details,
      // and then fill-in the corresponding field on the form.
      // place.address_components are google.maps.GeocoderAddressComponent objects
      // which are documented at http://goo.gle/3l5i5Mr
      for (const component of place.address_components) {
        const componentType = component.types[0];

        switch (componentType) {
          case "street_number": {
            address1 = `${component.long_name} ${address1}`;
            break;
          }

          case "route": {
            address1 += component.short_name;
            break;
          }

          case "postal_code": {
            postcode = `${component.long_name}${postcode}`;
            break;
          }

          case "postal_code_suffix": {
            postcode = `${postcode}-${component.long_name}`;
            break;
          }
          case "locality":
            document.querySelector("#locality").value = component.long_name;
            break;
          case "administrative_area_level_1": {
            document.querySelector("#state").value = component.short_name;
            break;
          }
          case "country":
            document.querySelector("#country").value = component.long_name;
            break;
        }
      }

      address1Field.value = address1;
      postalField.value = postcode;
      // After filling the form with address components from the Autocomplete
      // prediction, set cursor focus on the second address line to encourage
      // entry of subpremise information such as apartment, unit, or floor number.
      address2Field.focus();
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPITQbUkGBwVuYpeH5FNgjXbDkoH0waYE&callback=initAutocomplete&libraries=places"></script>
</html>